.spinner, .choice-box {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 8;
    -fx-border-insets: 0;
    -fx-border-radius: 8;
    -fx-border-width: 1;
    -fx-border-color: #d3d3d3;
}

.spinner .text-field {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 8;
    -fx-border-insets: 0;
    -fx-border-radius: 8;
    -fx-border-width: 0;
}

.spinner:focused,.choice-box:focused {
    -fx-border-width: 2;
    -fx-border-color: rgb(11, 87, 208);
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 8;
    -fx-border-insets: 0;
}

.spinner .increment-arrow-button:hover, .spinner .decrement-arrow-button:hover {
    -fx-background-color: #f1f1f1;
}

.spinner .increment-arrow-button:pressed, .spinner .decrement-arrow-button:pressed {
    -fx-background-color: #e1e1e1;
}

.choice-box:hover {
    -fx-background-color: #f6f6f6;
}

.divider {
    -fx-background-color: #e8e8e8;
}

.icon {
    -fx-background-color: #525252;
}