.mini-icon {
    -fx-shape: "M6 19h12v2H6z";
}

.window-icon {
    -fx-shape: "M19 4H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m0 14H5V6h14z";
}

.close-icon {
    -fx-shape: "M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z";
}

.plus-icon {
    -fx-shape: "M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z";
}

.undo-icon {
    -fx-shape: "M8 19q-.425 0-.712-.288T7 18q0-.425.288-.712T8 17h6.1q1.575 0 2.738-1T18 13.5q0-1.5-1.162-2.5T14.1 10H7.8l1.9 1.9q.275.275.275.7t-.275.7q-.275.275-.7.275t-.7-.275L4.7 9.7q-.15-.15-.213-.325T4.426 9q0-.2.063-.375T4.7 8.3l3.6-3.6q.275-.275.7-.275t.7.275q.275.275.275.7t-.275.7L7.8 8h6.3q2.425 0 4.163 1.575T20 13.5q0 2.35-1.737 3.925T14.1 19z";
}

.redo-icon {
    -fx-shape: "M16.2 10H9.9q-1.575 0-2.738 1T6 13.5Q6 15 7.163 16T9.9 17H16q.425 0 .713.288T17 18q0 .425-.288.713T16 19H9.9q-2.425 0-4.163-1.575T4 13.5q0-2.35 1.738-3.925T9.9 8h6.3l-1.9-1.9q-.275-.275-.275-.7t.275-.7q.275-.275.7-.275t.7.275l3.6 3.6q.15.15.213.325t.062.375q0 .2-.062.375T19.3 9.7l-3.6 3.6q-.275.275-.7.275t-.7-.275q-.275-.275-.275-.7t.275-.7z";
}

.bold-icon {
    -fx-shape: "M8.8 19q-.825 0-1.412-.587T6.8 17V7q0-.825.588-1.412T8.8 5h3.525q1.625 0 3 1T16.7 8.775q0 1.275-.575 1.963t-1.075.987q.625.275 1.388 1.025T17.2 15q0 2.225-1.625 3.113t-3.05.887zm1.025-2.8h2.6q1.2 0 1.463-.612t.262-.888q0-.275-.262-.887T12.35 13.2H9.825zm0-5.7h2.325q.825 0 1.2-.425t.375-.95q0-.6-.425-.975t-1.1-.375H9.825z";
}

.italic-icon {
    -fx-shape: "M6.25 19q-.525 0-.888-.363T5 17.75q0-.525.363-.888t.887-.362H9l3-9H9.25q-.525 0-.888-.363T8 6.25q0-.525.363-.888T9.25 5h7.5q.525 0 .888.363T18 6.25q0 .525-.363.888t-.887.362H14.5l-3 9h2.25q.525 0 .888.363t.362.887q0 .525-.363.888T13.75 19z";
}

.underline-icon {
    -fx-shape: "M6 21q-.425 0-.712-.288T5 20q0-.425.288-.712T6 19h12q.425 0 .713.288T19 20q0 .425-.288.713T18 21zm6-4q-2.525 0-3.925-1.575t-1.4-4.175V4.275q0-.525.388-.9T7.975 3q.525 0 .9.375t.375.9V11.4q0 1.4.7 2.275t2.05.875q1.35 0 2.05-.875t.7-2.275V4.275q0-.525.388-.9T16.05 3q.525 0 .9.375t.375.9v6.975q0 2.6-1.4 4.175T12 17";
}

.align-left-icon {
    -fx-shape: "M4 21q-.425 0-.712-.288T3 20q0-.425.288-.712T4 19h16q.425 0 .713.288T21 20q0 .425-.288.713T20 21zm0-4q-.425 0-.712-.288T3 16q0-.425.288-.712T4 15h10q.425 0 .713.288T15 16q0 .425-.288.713T14 17zm0-4q-.425 0-.712-.288T3 12q0-.425.288-.712T4 11h16q.425 0 .713.288T21 12q0 .425-.288.713T20 13zm0-4q-.425 0-.712-.288T3 8q0-.425.288-.712T4 7h10q.425 0 .713.288T15 8q0 .425-.288.713T14 9zm0-4q-.425 0-.712-.288T3 4q0-.425.288-.712T4 3h16q.425 0 .713.288T21 4q0 .425-.288.713T20 5z";
}

.align-center-icon {
    -fx-shape: "M4 21q-.425 0-.712-.288T3 20q0-.425.288-.712T4 19h16q.425 0 .713.288T21 20q0 .425-.288.713T20 21zm4-4q-.425 0-.712-.288T7 16q0-.425.288-.712T8 15h8q.425 0 .713.288T17 16q0 .425-.288.713T16 17zm-4-4q-.425 0-.712-.288T3 12q0-.425.288-.712T4 11h16q.425 0 .713.288T21 12q0 .425-.288.713T20 13zm4-4q-.425 0-.712-.288T7 8q0-.425.288-.712T8 7h8q.425 0 .713.288T17 8q0 .425-.288.713T16 9zM4 5q-.425 0-.712-.288T3 4q0-.425.288-.712T4 3h16q.425 0 .713.288T21 4q0 .425-.288.713T20 5z";
}

.align-right-icon {
    -fx-shape: "M4 5q-.425 0-.712-.288T3 4q0-.425.288-.712T4 3h16q.425 0 .713.288T21 4q0 .425-.288.713T20 5zm6 4q-.425 0-.712-.288T9 8q0-.425.288-.712T10 7h10q.425 0 .713.288T21 8q0 .425-.288.713T20 9zm-6 4q-.425 0-.712-.288T3 12q0-.425.288-.712T4 11h16q.425 0 .713.288T21 12q0 .425-.288.713T20 13zm6 4q-.425 0-.712-.288T9 16q0-.425.288-.712T10 15h10q.425 0 .713.288T21 16q0 .425-.288.713T20 17zm-6 4q-.425 0-.712-.288T3 20q0-.425.288-.712T4 19h16q.425 0 .713.288T21 20q0 .425-.288.713T20 21z";
}

.text-color-icon {
    -fx-shape: "M3 24q-.425 0-.712-.288T2 23v-2q0-.425.288-.712T3 20h18q.425 0 .713.288T22 21v2q0 .425-.288.713T21 24zm4.125-7q-.575 0-.913-.488t-.137-1.037l4.4-11.725q.125-.35.425-.55t.65-.2h.9q.375 0 .663.2t.412.55L17.95 15.5q.2.55-.137 1.025T16.9 17q-.35 0-.65-.2t-.425-.55l-.975-2.85H9.2l-1.025 2.875q-.125.35-.413.538T7.126 17M9.9 11.4h4.2l-2.05-5.8h-.1z";
}

.delete-icon {
    -fx-shape: "M7 21q-.825 0-1.412-.587T5 19V6q-.425 0-.712-.288T4 5q0-.425.288-.712T5 4h4q0-.425.288-.712T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5q0 .425-.288.713T19 6v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zm-7 11q.425 0 .713-.288T11 16V9q0-.425-.288-.712T10 8q-.425 0-.712.288T9 9v7q0 .425.288.713T10 17m4 0q.425 0 .713-.288T15 16V9q0-.425-.288-.712T14 8q-.425 0-.712.288T13 9v7q0 .425.288.713T14 17M7 6v13z";
}

.chevron-right-icon {
    -fx-shape: "M12.6 12L8.7 8.1q-.275-.275-.275-.7t.275-.7q.275-.275.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375q0 .2-.062.375t-.213.325l-4.6 4.6q-.275.275-.7.275t-.7-.275q-.275-.275-.275-.7t.275-.7z";
}

.search-icon {
    -fx-shape: "M9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l5.6 5.6q.275.275.275.7t-.275.7q-.275.275-.7.275t-.7-.275l-5.6-5.6q-.75.6-1.725.95T9.5 16m0-2q1.875 0 3.188-1.312T14 9.5q0-1.875-1.312-3.187T9.5 5Q7.625 5 6.313 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14";
}

.menu-icon {
    -fx-shape: "M4 6h24v2H4zm0 18h24v2H4zm0-12h24v2H4zm0 6h24v2H4z";
}

.line-icon {
    -fx-shape: "M7.83 20A3.001 3.001 0 1 1 4 16.17V7.83A3.001 3.001 0 1 1 7.83 4h8.34A3.001 3.001 0 1 1 20 7.83v8.34A3.001 3.001 0 1 1 16.17 20zm0-2h8.34A3.009 3.009 0 0 1 18 16.17V7.83A3.008 3.008 0 0 1 16.17 6H7.83A3.008 3.008 0 0 1 6 7.83v8.34A3.008 3.008 0 0 1 7.83 18M5 6a1 1 0 1 0 0-2a1 1 0 0 0 0 2m14 0a1 1 0 1 0 0-2a1 1 0 0 0 0 2m0 14a1 1 0 1 0 0-2a1 1 0 0 0 0 2M5 20a1 1 0 1 0 0-2a1 1 0 0 0 0 2";
}

.mind-map-icon {
    -fx-shape: "M18 3a3 3 0 1 1 0 6h-3a3.001 3.001 0 0 1-2.829-2H11c-1.1 0-2 .9-2 2v.171a3.001 3.001 0 0 1 0 5.658V15c0 1.1.9 2 2 2h1.17A3.001 3.001 0 0 1 15 15h3a3 3 0 1 1 0 6h-3a3.001 3.001 0 0 1-2.829-2H11c-2.21 0-4-1.79-4-4H5a3 3 0 1 1 0-6h2a4 4 0 0 1 4-4h1.17A3.001 3.001 0 0 1 15 3zm0 14h-3a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2M8 11H5a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2m10-6h-3a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2";
}

.padding-icon {
    -fx-shape: "M3 4a1 1 0 0 1 1 1v14a1 1 0 1 1-2 0V5a1 1 0 0 1 1-1m18 0a1 1 0 0 1 1 1v1.75a1 1 0 1 1-2 0V5a1 1 0 0 1 1-1m0 5.25a1 1 0 0 1 1 1v3.5a1 1 0 1 1-2 0v-3.5a1 1 0 0 1 1-1m0 7a1 1 0 0 1 1 1V19a1 1 0 1 1-2 0v-1.75a1 1 0 0 1 1-1m-2.293-3.543a1 1 0 0 0 0-1.414l-5-5a1 1 0 1 0-1.414 1.414L15.586 11H6a1 1 0 1 0 0 2h9.586l-3.293 3.293a1 1 0 0 0 1.414 1.414z";
}

.save-icon {
    -fx-shape: "M21 7v12q0 .825-.587 1.413T19 21H5q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h12zm-2 .85L16.15 5H5v14h14zM12 18q1.25 0 2.125-.875T15 15t-.875-2.125T12 12t-2.125.875T9 15t.875 2.125T12 18m-6-8h9V6H6zM5 7.85V19V5z";
}

.save-image-icon {
    -fx-shape: "M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm0-2h14V5H5zm1-2h12l-3.75-5l-3 4L9 13zm-1 2V5z";
}

.letter-a-icon {
    -fx-shape: "M18.97 19.757L15.35 5.272A2.996 2.996 0 0 0 12.437 3h-.877a2.996 2.996 0 0 0-2.91 2.272L5.03 19.757a1 1 0 0 0 1.94.486L8.28 15h7.44l1.31 5.243a1 1 0 0 0 1.94-.486M8.78 13l1.811-7.242a.998.998 0 0 1 .97-.758h.878a.998.998 0 0 1 .97.758L15.219 13Z";
}
.border-icon{
    -fx-shape: "M2.5 5.75A3.25 3.25 0 0 1 5.75 2.5h12.5a3.25 3.25 0 0 1 3.25 3.25v12.5a3.25 3.25 0 0 1-3.25 3.25H5.75a3.25 3.25 0 0 1-3.25-3.25zM5.75 5a.75.75 0 0 0-.75.75v12.5c0 .414.336.75.75.75h12.5a.75.75 0 0 0 .75-.75V5.75a.75.75 0 0 0-.75-.75z";
}