
#base {
    primary-color: rgb(225, 235, 252);
    primary-hover-color: rgb(204, 221, 248);
    primary-active-color: rgb(192, 213, 248);

    -fx-background-color: #ffffff;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(three-pass-box, #b0b0b0, 12, 0.1, 0, 3);
    -fx-background-insets: 12;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-border-color: #d5d5d5;
    -fx-border-insets: 12;
}

#base.max {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}


.title-bar {
    -fx-background-color: primary-color;
    -fx-background-radius: 0 18 18 0;
}

.title-bar .icon {
    -fx-background-color: rgb(101, 106, 121);
}

.title-bar Button {
    -fx-background-color: null;
    -fx-background-radius: 6;
}

.title-bar Button:hover {
    -fx-background-color: primary-hover-color;
}

.title-bar Button:pressed {
    -fx-background-color: primary-active-color;
}

.sys-btn {
    -fx-background-radius: 0;
    -fx-background-color: null;
}

.sys-btn:hover {
    -fx-background-color: rgb(232, 235, 238);
}

.sys-btn Region {
    -fx-background-color: #696969;
}

#window-close-btn:hover {
    -fx-background-color: red;
}

#window-close-btn:hover Region {
    -fx-background-color: #fff;
}


#menu {
    -fx-background-color: primary-color;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-background-radius: 18 0 0 18;
    -fx-text-fill: #212121;
    -fx-cursor: hand;
}

#menu:hover, #menu:showing {
    -fx-background-color: primary-hover-color;
}

#menu .menu-icon {
    -fx-background-color: #737373;
}

#menu > .arrow-button {
    -fx-padding: 0;
}

#menu > .arrow-button > .arrow {
    -fx-padding: 0;
}

.toolbar {
    -fx-background-color: primary-color;
    -fx-background-radius: 42;
}

.toolbar .icon {
    -fx-background-color: #525252;
}

.toolbar .divider {
    -fx-background-color: #b6b6b6;
}

.toolbar .toggle-button:selected {
    -fx-background-color: primary-hover-color;
}

.toolbar .toggle-button:selected:hover {
    -fx-background-color: primary-active-color;
}

.toolbar .button, .toolbar .toggle-button {
    -fx-background-color: null;
    -fx-background-radius: 6;
}

.toolbar .button:hover, .toolbar .toggle-button:hover {
    -fx-background-color: primary-hover-color;
}

.toolbar .button:pressed, .toolbar .toggle-button:pressed {
    -fx-background-color: primary-active-color;
}

.toolbar .menu-button, .toolbar .color-picker {
    -fx-background-color: null;
    -fx-padding: 0;
    -fx-background-insets: null;
    -fx-background-radius: 6;
}

.toolbar .menu-button:hover, .toolbar .color-picker:hover {
    -fx-background-color: primary-hover-color;
}

.toolbar .menu-button:pressed, .toolbar .color-picker:pressed {
    -fx-background-color: primary-active-color;
}

.font-color-picker .picker-color-rect {
    visibility: hidden;
}

.toolbar .menu-button > .label {
    -fx-background-color: null;
    -fx-padding: 0 0 0 8;
}


#sidebar-tab {
    -fx-border-radius: 42;
    -fx-border-width: 1;
    -fx-border-color: #ccc;
}

#sidebar-tab Button {
    -fx-background-color: null;
    -fx-background-radius: 40;
}

#sidebar-tab Button.active, #sidebar-tab Button:hover {
    -fx-background-color: rgb(232, 235, 238);
}

.canvas-container {
    -fx-background-color: #ffffff;
    -fx-border-radius: 0 16 0 0;
    -fx-border-color: #dedede;
    -fx-border-width: 1 1 0 0;
    -fx-background-radius: 0 16 0 0;
    -fx-effect: null;
    -fx-padding: 0;
    -fx-border-insets: null;
    -fx-background-insets: null;
}

.canvas-container .viewport {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 16 0 6;
}

.mind-map-canvas {
    -fx-background-radius: 0 16 0 6;
    -fx-background-color: #fff;
}

#sidebar-container {
    -fx-background-color: primary-color;
    -fx-background-radius: 16;
}

#sidebar-content {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
}

#sidebar-title {
    -fx-text-fill: #3f3f3f;
}

#sidebar-fold-btn {
    -fx-background-color: null;
    -fx-background-radius: 24;
}

#sidebar-fold-btn Region {
    -fx-background-color: #8f8f8f;
}

#sidebar-fold-btn:hover {
    -fx-background-color: primary-hover-color;
}

#sidebar-fold-btn:pressed {
    -fx-background-color: primary-active-color;
}

.node-container {
    -fx-border-radius: 12;
    -fx-border-width: 2;
    -fx-padding: 2;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
}

.node-box {
    -fx-padding: 2 12 2 12;
    -fx-border-width: 2;
}

.node-box:disabled {
    -fx-opacity: 0.6;
}

.node-container:hover {
    -fx-border-style: dashed;
    -fx-border-color: #212121;
}

.node-selected, .node-container.node-selected:hover {
    -fx-border-style: solid;
    -fx-border-color: #212121;
}

.node-text {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.node-text:disabled {
    -fx-opacity: 1;
}

.node-text.underline .text {
    -fx-underline: true;
}
