
#base {
    primary-color: rgb(225, 235, 252);
    primary-hover-color: rgb(204, 221, 248);
    primary-active-color: rgb(192, 213, 248);

    -fx-background-color: #ffffff;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(three-pass-box, #b0b0b0, 12, 0.1, 0, 3);
    -fx-padding: 12;
    -fx-background-insets: 12;
}

#base.max {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

Button {
    -fx-background-insets: null
}

.context-menu {
    -fx-effect: dropshadow(three-pass-box, #bdbdbd, 8, 0.02, 0, 3);
    -fx-padding: 8 2 8 2;
    -fx-background-radius: 4;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 4;
    -fx-border-color: #fff;
}

.menu-item {
    -fx-border-width: 0;
    -fx-padding: 4 8 4 8;
    -fx-pref-height: 28;
    -fx-background-radius: 4;
}

.menu-item .title {
    -fx-text-fill: #212121;
}

.menu-item .description {
    -fx-text-fill: #a1a1a1;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: rgb(228, 232, 234);
}

.menu-item:hover .label, .menu-item:focused .label {
    -fx-text-fill: #212121;
}

.sys-btn {
    -fx-background-radius: 0;
    -fx-background-color: null;
}

.sys-btn:hover {
    -fx-background-color: rgb(232, 235, 238);
}

.sys-btn Region {
    -fx-background-color: #696969;
}

#window-close-btn:hover {
    -fx-background-color: red;
}

#window-close-btn:hover Region {
    -fx-background-color: #fff;
}


#menu {
    -fx-pref-height: 30;
    -fx-background-color: null;
    -fx-background-radius: 4px;
    -fx-text-fill: #212121;
    -fx-cursor: hand;
}

#menu:hover, #menu:showing {
    -fx-background-color: rgb(232, 235, 238);
}

#menu Region {
    -fx-background-color: #737373;
}

#menu > .arrow-button {
    -fx-padding: 0;
}

#menu > .arrow-button > .arrow {
    -fx-padding: 0;
}

.toolbar {
    -fx-background-color: primary-color;
    -fx-background-radius: 42;
}

.toolbar .icon {
    -fx-background-color: #525252;
}

.toolbar .divider {
    -fx-background-color: #b6b6b6;
}

.toolbar .toggle-button:selected {
    -fx-background-color: primary-hover-color;
}

.toolbar .toggle-button:selected:hover {
    -fx-background-color: primary-active-color;
}

.toolbar .button, .toolbar .toggle-button {
    -fx-background-color: null;
    -fx-background-radius: 6;
}

.toolbar .button:hover, .toolbar .toggle-button:hover {
    -fx-background-color: primary-hover-color;
}

.toolbar .button:pressed, .toolbar .toggle-button:pressed {
    -fx-background-color: primary-active-color;
}

.toolbar .menu-button, .toolbar .color-picker {
    -fx-background-color: null;
    -fx-padding: 0;
    -fx-background-insets: null;
    -fx-background-radius: 6;
}

.toolbar .menu-button:hover, .toolbar .color-picker:hover {
    -fx-background-color: primary-hover-color;
}

.toolbar .menu-button:pressed, .toolbar .color-picker:pressed {
    -fx-background-color: primary-active-color;
}

.font-color-picker .picker-color-rect {
    visibility: hidden;
}

.toolbar .menu-button > .label {
    -fx-background-color: null;
    -fx-padding: 0 0 0 8;
}

.slider > .track {
    -fx-background-color: #f8f8f8;
    -fx-background-insets: 0;
    -fx-padding: 2;
}

.slider > .thumb {
    -fx-background-color: #525252;
    -fx-border-width: 3.5;
    -fx-border-color: primary-color;
    -fx-padding: 8.5 1.5 8.5 1.5;
    -fx-background-insets: 2;
    -fx-border-radius: 8;
    -fx-effect: null;
}

.slider > .thumb:pressed {
    -fx-padding: 8.5 2 8.5 2;
}

#sidebar-tab {
    -fx-border-radius: 42;
    -fx-border-width: 1;
    -fx-border-color: #ccc;
}

#sidebar-tab Button {
    -fx-background-color: null;
    -fx-background-radius: 40;
}

#sidebar-tab Button.active, #sidebar-tab Button:hover {
    -fx-background-color: rgb(232, 235, 238);
}

.canvas-container {
    -fx-background-color: #ffffff;
    -fx-border-radius: 0 16 0 0;
    -fx-border-color: #dedede;
    -fx-border-width: 1 1 0 0;
    -fx-background-radius: 0 16 0 0;
    -fx-effect: null;
    -fx-padding: 0;
    -fx-border-insets: null;
    -fx-background-insets: null;
}

.canvas-container .viewport {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 16 0 6;
}

.mind-map-canvas {
    -fx-background-radius: 0 16 0 6;
    -fx-background-color: #fff;
}

.scroll-bar {
    -fx-background-color: null;
    -fx-border-color: null;
}

/*轨道样式*/
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: null;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 2;
}

/*横向滚动条增减按钮样式*/
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

/*竖向滚动条增减按钮样式*/
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

/*增减按钮中图标样式*/
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
    -fx-shape: " ";
    -fx-padding: 0;
}

/*滚动条滑块样式*/
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #e1e1e1;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #b6b6b6;
}


#sidebar-container {
    -fx-background-color: primary-color;
    -fx-background-radius: 16;
}

#sidebar-content {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
}

#sidebar-title {
    -fx-text-fill: #3f3f3f;
}

#sidebar-fold-btn {
    -fx-background-color: null;
    -fx-background-radius: 24;
}

#sidebar-fold-btn Region {
    -fx-background-color: #8f8f8f;
}

#sidebar-fold-btn:hover {
    -fx-background-color: primary-hover-color;
}

#sidebar-fold-btn:pressed {
    -fx-background-color: primary-active-color;
}

.node-box {
    -fx-padding: 2 12 2 12;
    -fx-border-radius: 8;
    -fx-border-width: 2;
    -fx-border-color: transparent;
}

.node-box:disabled {
    -fx-opacity: 0.6;
}

.node-box:hover {
    -fx-border-style: dashed;
    -fx-border-color: #212121;
}

.node-selected, .node-box.node-selected:hover {
    -fx-border-style: solid;
    -fx-border-color: #212121;
}

.node-text {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.node-text:disabled {
    -fx-opacity: 1;
}

.node-text.underline .text {
    -fx-underline: true;
}
