/* 背景和框架 */
.tree-view {
    -fx-background-radius: 8;
    -fx-background-color: null;
    -fx-border-width: 0;
}

/* 单元格背景、边框及填充 */
.tree-cell {
    -fx-font-size: 13px;
    -fx-padding: 6px;
    -fx-text-fill: #363636;
    -fx-background-color: null;
}

.tree-cell:filled:selected, .tree-cell:focused:selected {
    -fx-background-color: null;
    -fx-text-fill: rgb(24,90,188);
    -fx-font-weight: bold;
}

/* 展开器（折叠按钮）样式 */
.tree-view .tree-disclosure-node {

}

.tree-view .arrow {
    -fx-background-color: #999;
}

.tree-view .arrow:hover {
    -fx-background-color: #666;
}

/* 分支线条颜色 */
.tree-view .branch-line {
    -fx-stroke: #a0a0a0;
}

/* 聚焦与非聚焦状态 */
.tree-cell:focused {
    -fx-background-color: #b6d7a8;
}
